process {
    withName: SRA_FASTQ_FTP {
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                mode: 'move',
                pattern: "*gz"
            ],
            [
                path: { "${params.outdir}/fastq/md5" },
                mode: 'move',
                pattern: "*.md5"
            ]
        ]
    }
    withName: SRATOOLS_FASTERQDUMP {
        publishDir = [
            [
                path: { "${params.outdir}/fastq" },
                mode: 'move',
                pattern: "*gz"
            ],
            [
                path: { "${params.outdir}/fastq/md5" },
                mode: 'move',
                pattern: "*.md5"
            ]
        ]
    }
}